:root {
    --primario: #3498db;
    --primarioObscuro: #2980b9;
    --secundario: #2ecc71;
    --secundarioObscuro: #27ae60;
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

.navegacion {
    background-color: var(--primarioObscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace {
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

.navegacion__enlace:hover, .navegacion__enlace--activo{
    color: var(--secundario);
}

.footer {
    background-color: var(--primarioObscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {
    background-color: var(--primarioObscuro);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
    color: var(--blanco);
    text-align: center;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
    text-align: center;
}

.producto__nombre, .producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--extra {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--otro {
    grid-row: 8 / 9;
    background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px) {
    .grafico--otro {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
}

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

.bloques {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    background-color: var(--primarioObscuro);
    padding: 2rem;
    text-align: center;
}

.bloque__titulo {
    font-size: 3rem;
    color: var(--secundario);
    margin: 0;
}

.producto-detalle {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: start;
}

.producto-detalle img {
    width: 100%;
    display: block;
}

.producto-detalle > div {
    width: 100%;
}

@media (min-width: 768px) {
    .producto-detalle {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .formulario {
        grid-template-columns: repeat(2, 1fr);
    }
}

.formulario__submit {
    background-color: var(--secundario);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    padding: 2rem;
    border: none;
    transition: background-color 0.3s ease;
    grid-column: 1 / 2;
}

@media (min-width: 768px) {
    .formulario__submit {
        grid-column: 1 / 3;
    }
}

.formulario__submit:hover {
    background-color: var(--secundarioObscuro);
    cursor: pointer;
}

.formulario__campo {
    border: 1rem solid var(--primarioObscuro);
    background-color: transparent;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}